@import "tailwindcss";

@layer base {
	body {
		background-color: #171515;
		font-family: "Inter", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		text-transform: capitalize;
		leading-trim: none;
	}
}
