---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'Thunder Finance',
	description = 'Thunder.Finance is a mixer that incentives Privacy paying yields',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<title>{title}</title>
	</head>
	<body class="m-0 min-h-screen bg-[#171515] font-sans text-white antialiased">
		<slot />
	</body>
</html>
